*.pyc

/minesweeper_js/note.txt

/autosweeper/game_savings/
!/autosweeper/game_savings/30-16-99/0.json

/autosweeper/autosweeper.cpp
/autosweeper/hello_world_plus.cpp
/autosweeper/hello_world_plus.exe
/autosweeper/note.txt
